@media (max-width:768px){

    .table-hide{
        display:none;
    }
    .table-rwd tr{
        display:block;
    }

    .info{
        display:none;
    }

    .table-rwd td{
        display:block;
        border:0;
    }

    .citylist{
        clear:both;
    }

}



@media (max-width:512px){
    .table-hide{
        display:none;
    }
    .table-rwd tr{
        display:block;
    }

    .info{
        display:none;
    }

    .table-rwd td{
        display:block;
        border:0;
    }

    .citylist{
        clear:both;
    }
    .citysize{
        height:200px;
    }
}


#content{
    display:none;
}

